<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    time 
    <h2 th:if="${message} != null" th:text="${message}"></h2>
    <div><a href="/link">link test</a></div>
    <div><a th:href="@{'/hello/' + ${url}}">link test2</a></div>
    <div>
        <ul id="ulist">
            <li th:each="list: ${list}" th:text="${list}"></li>
        </ul>
    </div>
    <div id="testdiv"></div>
    <button onclick="testAxios()">click button</button>
    <button onclick="saveTest()">click button</button>


    <h1>Form controller</h1>
    <form action="#" th:action="@{/testDTO}" th:object="${sampleDTO}" method="post">
    	<p>first: <input type="text" th:field="*{first}" /></p>
        <p>last: <input type="text" th:field="*{last}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <h1>Form restcontroller</h1>
    <form id="bform" action="#">
    	<p>first: <input type="text" id="restFirst" /></p>
        <p>last: <input type="text" id="restLast" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>


    <script th:inline="javascript">
    /*<![CDATA[*/
        const message = /*[[${message}]]*/
        console.log(message);
    /*]]*/
    function testAxios() {
        axios.post('/api/axiostest', {parameter:"ppp"})
            .then(function(res){
                const data = res.data;
                data && data[0] && data.forEach(i => {
                    const newLi = document.createElement('li');
                    newLi.style.color='blue';
                    newLi.innerHTML = i;
                    document.getElementById('ulist').appendChild(newLi);
            });

            console.log(res);

        });
    }

    function dtoTest(param) {
        axios.post('/api/dtotest', param)
            .then(res=>{

        });
    }

    document.getElementById('bform').addEventListener('submit', e=>{
        e.preventDefault();
        console.log(e);
        const first = document.getElementById('restFirst').value;
        const last = document.getElementById('restLast').value;
        dtoTest({first, last});
    });


    function saveTest() {
        axios.post('/api/saveTest', {name: "namename", username:"usernamename"})
            .then(res=>{

        });
    }
    function allList() {
        axios.get('/api/getTest', {})
            .then(res => {
                console.log("🚀 ~ file: hello.html:90 ~ allList ~ res", res)
        });
    }
    allList();

   </script>
</body>
</html>